[alias]
  co = checkout
  l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[apply]
  whitespace = nowarn
[format]
  pretty = %C(yellow)%h%Creset %s %C(magenta)(%an, %cr)%Creset
[push]
  default = current
[merge]
  tool = vimdiff
  prompt = false
  conflictstyle = zdiff3
[rerere]
  enabled = true
[include]
  path = ~/.gitconfig.local
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[init]
	defaultBranch = main
[pull]
	rebase = true
