[alias]
	co = checkout
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
	autocrlf = input
[apply]
	whitespace = nowarn
[format]
	pretty = %C(yellow)%h%Creset %s %C(magenta)(%an, %cr)%Creset
[branch "master"]
	remote = origin
#[push]
	#default = simple
[push]
    default = current
