! Xft settings

!Xft.dpi:                    96
!Xft.antialias:              true
!Xft.rgba:                   rgb
!Xft.hinting:                true
!Xft.hintstyle:              hintslight

! Color settings (solarized dark)

*background: #002b36
*foreground: #657b83
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3


! URXVT settings

! transparency - true or false (default)
!URxvt*transparent: true

! tint with any color; i.e., blue, red, tomato4, olivedrab2, etc.
!   some nice listings are at:
!     http://www.nisrv.com/drupal/?q=node/11
!     http://www.htmlgoodies.com/tutorials/colors/article.php/3478921
!URxvt*tintColor: S_base03

! shading - 0 to 99 darkens, 101 to 200 lightens.
!   Do not use with tintColor; just use a darker or lighter color instead.

URxvt*shading: 15

URxvt*saveLines: 12000

URxvt*foreground: #657b83
URxvt*background: #002b36

! Monaco Linux font
URxvt*font: xft:Source Code Pro:pixelsize=15:antialias=true:hinting=true
URxvt*boldFont: xft:Source Code Pro:bold:pixelsize=15:antialias=true:hinting=true

! scrollbar - true (default) or false
URxvt*scrollBar: true

! scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: false

! scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: plain
